*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#070707;
font-family:Poppins,sans-serif;
overflow:hidden;
color:white;
}

.screen{

display:none;

justify-content:center;

align-items:center;

flex-direction:column;

height:100vh;

position:relative;

}

.active{

display:flex;

}

.loader{

width:75px;

height:75px;

border-radius:50%;

border:7px solid rgba(255,255,255,.15);

border-top:7px solid #ff4f7d;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

.fairyLights{

position:absolute;

top:10px;

width:100%;

display:flex;

justify-content:space-evenly;

}

.fairyLights span{

width:13px;

height:13px;

background:#444;

border-radius:50%;

transition:.5s;

}

.on span{

background:#ffe082;

box-shadow:

0 0 10px #ffd54f,

0 0 20px #ffd54f,

0 0 35px #fff176;

}

#title{

display:none;

font-family:"Great Vibes",cursive;

font-size:60px;

color:#ff5e8a;

margin-bottom:40px;

text-align:center;

}

button{

padding:15px 35px;

font-size:18px;

border:none;

border-radius:40px;

background:#ff4f7d;

color:white;

cursor:pointer;

}
