*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#080808;
font-family:Poppins,sans-serif;
overflow:hidden;
color:white;
}

.screen{
width:100%;
height:100vh;
display:none;
justify-content:center;
align-items:center;
flex-direction:column;
position:relative;
}

.screen.active{
display:flex;
}

.loader{
width:70px;
height:70px;
border:6px solid rgba(255,255,255,.2);
border-top:6px solid #ff4d6d;
border-radius:50%;
animation:spin 1s linear infinite;
margin-bottom:25px;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.fairyLights{
position:absolute;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-evenly;
padding:15px 5px;
}

.fairyLights span{
width:12px;
height:12px;
border-radius:50%;
background:#444;
box-shadow:none;
transition:.5s;
}

.fairyLights.on span{
background:#ffe082;
box-shadow:
0 0 10px #ffd54f,
0 0 20px #ffd54f,
0 0 35px #fff176;
}

#birthdayTitle{
display:none;
font-size:55px;
font-family:"Great Vibes",cursive;
margin-top:60px;
color:#ff5c8a;
text-align:center;
}

#lightBtn{
margin-top:50px;
padding:14px 35px;
font-size:18px;
border:none;
border-radius:30px;
background:#ff4d6d;
color:white;
cursor:pointer;
}
/* ---------- Gift Box ---------- */

.giftBox{
position:absolute;
bottom:80px;
left:50%;
transform:translateX(-50%);
width:120px;
height:120px;
cursor:pointer;
display:none;
animation:giftFloat 2s ease-in-out infinite;
}

.gift-body{
position:absolute;
bottom:0;
width:120px;
height:80px;
background:#e53935;
border-radius:0 0 10px 10px;
box-shadow:0 10px 20px rgba(0,0,0,.4);
}

.gift-body::before{
content:"";
position:absolute;
left:50%;
transform:translateX(-50%);
width:14px;
height:100%;
background:#ffd54f;
}

.gift-lid{
position:absolute;
top:0;
width:120px;
height:30px;
background:#ef5350;
border-radius:10px;
transition:.8s;
}

.gift-lid::before{
content:"";
position:absolute;
left:50%;
transform:translateX(-50%);
width:14px;
height:30px;
background:#ffd54f;
}

.giftBox.open .gift-lid{
transform:translateY(-45px) rotate(-12deg);
}

@keyframes giftFloat{

0%,100%{
transform:translateX(-50%) translateY(0);
}

50%{
transform:translateX(-50%) translateY(-10px);
}

}
